body {
  background: url(../../img/linen-texture.jpg) top left cover repeat var(--body-background);
  color: var(--body-font-colour);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: var(--global-lineheight);
}
